.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto;
  margin-top: 30px;
  height: 50vh;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 0.01px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;  
  text-align: center;
  padding: 2vh 0vh;
}

.wrapper {
  margin-top: 100px;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 50%;
}

.color-box {
  width: 40px;
  height: 40px;
  margin: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 0.01px 15px 0 rgba(0, 0, 0, 0.19);
}

.color-box:hover {
  cursor: pointer;
}